@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    font-size: 2.4rem;
}

p, a {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

/* ===== NAV STYLES ===== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2em 6em;
    background-color: #001d3d;
    color: white;
}

header .nav {
    display: flex;
    align-items: center;
}

.nav .nav-item {
    margin-left: 2em;
}

header .logo {
    font-family: 'Press Start 2P';
    font-weight: normal;
}

header .logo .secondary-color {
    font-family: 'Press Start 2P';
    color: #ffc300;
}

header #save, header #new {
    font-style: normal;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

header #save:hover, header #new:hover {
    color: #ffc300;
}

header #save:hover::after, header #new:hover::after {
    display: inline-block;
}

header #save::after {
    display: none;
    position: absolute;
    bottom: -50px;
    left: 0;
    content: 'Save painting';
    font-size: 0.8rem;
    padding: 0.3em 1.2em;
    background: #ffc300;
    color: black;
    border-radius: 5px;
}
header #new::after {
    display: none;
    position: absolute;
    bottom: -50px;
    left: 0;
    content: 'New painting';
    font-size: 0.8rem;
    padding: 0.3em 1.2em;
    background: #ffc300;
    color: black;
    border-radius: 5px;
}

/* ===== MAIN STYLES ===== */
main {
    display: flex;
    margin: 1rem;
}

/* ===== CANVAS STYLES ===== */
.canvas-section {
    flex-basis: 80%;
}

.canvas {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 4rem);
}

.pixel-cell {
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
}

/* ===== TOOL STYLES ===== */
.toolkit {
    flex-basis: 20%;
    background: rgb(255, 247, 253);
}

/* ===== MODAL STYLES ===== */
.save-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 800px;
    max-width: 80%;
}

.save-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}